@using Checkers.Data.Entity
@model IEnumerable<User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name = "viewport" content = "width-device-width" />
        <title>User</title>
    </head>
    <body>
    @{
        foreach (var user in Model )
        {
            <p>user.ToString()</p>
        };
    }
    </body>
</html>