@using Site.Data.Models;
@model IIdentified<Chat>
@{
    foreach (var message in Model?.Value.Messages)
        @await Html.PartialAsync("~/Views/Chat/Message.cshtml", new Identified<MessageView>(Model.Credential,message))
}
<form asp-controller="Chat"
      asp-action="Send"
      asp-route-id="@Model?.Value.Id"
      asp-route-login="@Model?.Login"
      asp-route-password="@Model?.Password">
    <textarea name="message"></textarea>
    <input type="submit" value="Отправить"/>
</form>
