@using Site.Data.Models;
@using Site.Data.Models.UserIdentity
@model IIdentified<Chat>
@{
    foreach (var message in Model?.Value.Messages)
        @await Html.PartialAsync("~/Views/Chat/Message.cshtml", new Identified<MessageView>(Model,message))
}
<h3>Коментировать</h3>
<form asp-controller="Chat"
      asp-action="Send"
      asp-route-id="@Model?.Value.Id"
      asp-route-login="@Model?.Login"
      asp-route-type="@Model?.Type"
      asp-route-userId="@Model?.UserId"
      asp-route-password="@Model?.Password">
    <p><textarea cols="80" rows="5" name="message"></textarea></p>
    <p><input type="submit" value="Отправить"/></p>
</form>
