@using Site.Data.Models;
@using Site.Data.Models.UserIdentity
@model IIdentified<Chat>
@{
    foreach (var message in Model?.Value.Messages)
        @await Html.PartialAsync("~/Views/Chat/Message.cshtml", new Identified<MessageView>(Model,message))
}
<p>Коментировать</p>
<form asp-controller="Chat"
      asp-action="Send"
      asp-route-id="@Model?.Value.Id"
      asp-route-login="@Model?.Login"
      asp-route-type="@Model?.Type"
      asp-route-userId="@Model?.UserId"
      asp-route-password="@Model?.Password">
    <textarea name="message"></textarea>
    <input type="submit" value="Отправить"/>
</form>
