@using Site.Data.Models;
@using Site.Data.Models.User
@model Identified<MessageView>
@await Html.PartialAsync("~/Views/User/UserInfo.cshtml",
    new Identified<UserInfo>(Model.Credential,Model.Value.Sender))
<p>@Model?.Value.SendTime</p>
<p>@Model?.Value.Content</p>