@using Site.Data.Models;
@using Site.Data.Models.User
@using Site.Data.Models.UserIdentity
@model Identified<MessageView>
@await Html.PartialAsync("~/Views/User/UserChatInfo.cshtml",
    new Identified<UserInfo>(Model,Model.Value.Sender))
<p><b>Отправлено: </b>@Model?.Value.SendTime</p>
<p>@Model?.Value.Content</p>
<hr/>