@using Site.Data.Models;
@model Caller
@{
    Layout = null;
}

<html>
<head>
    <title>Вход</title>
</head>
<body>
<form asp-action="Authorize" asp-controller="Authorization">
    <label for="login">Логин</label>
    <input type="text" name="login" id="login"/>
    <label for="password">Пароль</label>
    <input type="text" name="password" id="password"/>
    <input type="hidden" name="callerController" value="@Model?.CallerController"/>
    <input type="hidden" name="callerAction" value="@Model?.CallerAction"/>
    <input type="submit" value="Отправить"/>
</form>
</body>
</html>