@using Site.Data.Models;
@model Caller
@{
    Layout = null;
}

<html>
<head>
    <title>Вход</title>
</head>
<body>
<form asp-action="Authorize" asp-controller="Authorization">
    <input type="text" name="login"/>
    <input type="text" name="password"/>
    <input type="hidden" name="callerController" value="@Model?.Controller"/>
    <input type="hidden" name="callerAction" value="@Model?.Action"/>
    <input type="submit" value="Отправить"/>
</form>
</body>
</html>