@using Site.Data.Models.UserIdentity;
@model IIdentity

@{
    Layout = "_HomeLayout";
}

<h2>Создание поста</h2>
<form asp-controller="Forum"
      asp-action="Create"
      enctype="multipart/form-data"
      method="post">
    <p><label for="title">Заголовок</label></p>
    <p><textarea cols="80" rows="2" name="title" id="title"></textarea></p>
    <p><label for="content">Содержание</label></p>
    <p><textarea cols="80" rows="10" name="content" id="content"></textarea></p>
    <p><input type="file" name="picture"/></p>
    <input type="hidden" name="login" value="@Model?.Login"/>
    <input type="hidden" name="password" value="@Model?.Password"/>
    <input type="hidden" name="type" value="@Model?.Type"/>
    <input type="hidden" name="userId" value="@Model?.UserId"/>
    <p><input type="submit" name="Создать"/></p>
</form>
