@using Site.Data.Models
@using Site.Data.Models.Post
@model IIdentified<IEnumerable<PostPreview>>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@{
    foreach (var post in Model.Value)
        @await Html.PartialAsync("PostPreview", 
            new Identified<PostPreview>(Model.Credential,post))
}
</body>
</html>