@using Site.Data.Models.Post
@using Site.Data.Models.UserIdentity
@model IIdentified<IEnumerable<Preview>>

@{
    ViewData["Title"] = "Форум";
    Layout = "_HomeLayout";
}


@{
    foreach (var post in Model.Value)
        @await Html.PartialAsync("PostPreview", 
            new Identified<Preview>(Model,post))
}
@if (Model.IsValid)
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <button style="height:50px;width:160px">
                    <a class="nav-link text-dark"
                        asp-controller="Forum"
                       asp-action="CreationPage"
                       asp-route-login="@Model?.Login"
                       asp-route-type="@Model?.Type"
                       asp-route-userId="@Model?.UserId"
                       asp-route-password="@Model?.Password">Создать</a>
                </button>
            </li>
        </ul>
    </div>
        }