@using Site.Data.Models.Post
@using Site.Data.Models.UserIdentity
@model Site.Data.Models.UserIdentity.IIdentified<IEnumerable<PostPreview>>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@{
    foreach (var post in Model.Value)
        @await Html.PartialAsync("PostPreview", 
            new Identified<PostPreview>(Model,post))
}

<a asp-controller="Forum"
      asp-action="CreationPage"
      asp-route-login="@Model?.Login"
      asp-route-type="@Model?.Type"
      asp-route-password="@Model?.Password">Создать</a>
</body>
</html>