@using Site.Data.Models.Post;
@using Site.Data.Models.UserIdentity;
@model IIdentified<Preview>

<div class="icon"><img width="70" height="70" src="@Model?.Value.Image.Url"/></div>
<p><a asp-controller="Forum"
      asp-action="Post"
      asp-route-id="@Model?.Value.Id"
      asp-route-login="@Model?.Login"
      asp-route-type="@Model?.Type"
      asp-route-userId="@Model?.UserId"
      asp-route-password="@Model?.Password">@Model?.Value.Title</a></p>
<hr style="opacity:0">
<hr style="opacity:0">
<hr/>