@using Site.Data.Models.Post;
@using Site.Data.Models.UserIdentity;
@model IIdentified<Preview>
<img width="100" height="100" src="@Model?.Value.Image.Url"/>
<a asp-controller="Forum"
   asp-action="Post"
   asp-route-id="@Model?.Value.Id"
   asp-route-login="@Model?.Login"
   asp-route-type="@Model?.Type"
   asp-route-userId="@Model?.UserId"
   asp-route-password="@Model?.Password">@Model?.Value.Title</a>