@using Site.Data.Models.Post;
@using Site.Data.Models;
@using Site.Data.Models.User
@using Site.Data.Models.UserIdentity
@model Site.Data.Models.UserIdentity.IIdentified<PostView>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@await Html.PartialAsync("~/Views/User/UserInfo.cshtml",
    new Identified<UserInfo>(Model,Model.Value.Author))
@await Html.PartialAsync("PostPreview", Model)
<p>@Model?.Value.Created</p>
<p>@Model?.Value.Content</p>
@await Html.PartialAsync("~/Views/Chat/ChatPartial.cshtml", 
    new Identified<Chat>(Model,Model.Value.Chat))
</body>
</html>