@using Site.Data.Models.UserIdentity;
@using Site.Data.Models.Article;
@model IIdentified<Preview>
<div class="icon"><img width="60" height="60" src="@Model?.Value.Image.Url"/></div>
<p><a asp-controller="News"
   asp-action="Article"
   asp-route-id="@Model?.Value.Id"
   asp-route-login="@Model?.Login"
   asp-route-type="@Model?.Type"
   asp-route-userId="@Model?.UserId"
   asp-route-password="@Model?.Password">@Model?.Value.Title</a></p>
<p>@Model?.Value.Abstract</p>
<hr/>