@using Site.Data.Models.Article
@using Site.Data.Models.UserIdentity
@using Common.Entity
@model Identified<IEnumerable<Preview>>

@{
    ViewData["Title"] = "Новости";
    Layout = "_HomeLayout";
}


    @{
        foreach (var article in Model.Value)
            @await Html.PartialAsync("ArticlePreview", 
                new Identified<Preview>(Model,article))
    }
@if (Model.Type == UserType.Editor)
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <button style="height:50px;width:160px">
                <a class="nav-link text-dark"
                   asp-controller="News"
                   asp-action="CreationPage"
                   asp-route-login="@Model?.Login"
                   asp-route-type="@Model?.Type"
                   asp-route-userId="@Model?.UserId"
                   asp-route-password="@Model?.Password">Создать</a>
                </button>
            </li>
        </ul>
    </div>
}