@using Site.Data.Models.Article
@using Site.Data.Models.UserIdentity
@model Site.Data.Models.UserIdentity.Identified<IEnumerable<ArticlePreview>>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    @{
        foreach (var article in Model.Value)
            @await Html.PartialAsync("ArticlePreview", 
                new Identified<ArticlePreview>(Model,article))
    }
</body>
</html>