@using Site.Data.Models.Article
@using Site.Data.Models.UserIdentity
@using Common.Entity
@model Identified<IEnumerable<Preview>>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    @{
        foreach (var article in Model.Value)
            @await Html.PartialAsync("ArticlePreview", 
                new Identified<Preview>(Model,article))
    }
@if (Model.Type == UserType.Editor)
{
    <a asp-controller="News"
       asp-action="CreationPage"
       asp-route-login="@Model?.Login"
       asp-route-type="@Model?.Type"
       asp-route-userId="@Model?.UserId"
       asp-route-password="@Model?.Password">Создать</a>
}
</body>
</html>