@using Site.Data.Models
@using Site.Data.Models.Article
@model Identified<IEnumerable<ArticlePreview>>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    @{
        foreach (var article in Model.Value)
            @await Html.PartialAsync("ArticlePreview", 
                new Identified<ArticlePreview>(Model.Credential,article))
    }
</body>
</html>