@using Site.Data.Models;
@model IIdentified<ModificationResult>
@{
    Layout = null;
}
<p>Изменено @Model?.Value.Success</p>
<a asp-controller="@Model?.Value.Controller"
   asp-action="@Model?.Value.Action"
   asp-route-login="@Model?.Login"
   asp-route-password="@Model?.Password">Назад</a>