@using Site.Data.Models;
@using Site.Data.Models.UserIdentity;
@model IIdentified<ModificationResult>
@{
    Layout = "_ModificationLayout";
}
<div>
    <center>
    <h3>Изменено:</h3>
        @if (Model.Value.Success)
        {
            <h4 style="color: green">Успешно</h4>
        }
        @if (!Model.Value.Success)
        {
            <h4 style="color: red">Неудачно</h4>
        }
    <button style="height: 40px; width: 100px">
        <a class="nav-link text-dark"
           asp-controller="@Model?.Value.CallerController"
           asp-action="@Model?.Value.CallerAction"
           asp-route-login="@Model?.Login"
           asp-route-password="@Model?.Password"
           asp-route-userId="@Model?.UserId"
           asp-route-type="@Model?.Type">Назад</a>
    </button>
    </center>
</div>