@using Site.Data.Models;
@using Site.Data.Models.UserIdentity;
@model IIdentified<ModificationResult>
@{
    Layout = null;
}
<p>Изменено @Model?.Value.Success</p>
<a asp-controller="@Model?.Value.CallerController"
   asp-action="@Model?.Value.CallerAction"
   asp-route-login="@Model?.Login"
   asp-route-password="@Model?.Password"
   asp-route-userId="@Model?.UserId"
   asp-route-type="@Model?.Type">Назад</a>