@model Site.Data.Models.UserIdentity.Identity

@{
    ViewData["Title"] = "Об игре";
    Layout = "_HomeLayout";
}

<div>
    <div class="icon2"><img src="/p1.png" width="140" height="140"></div>
    <h2>Кастомизация игрового профиля</h2>
    <p>Скины , анимации, лутбоксы - все это вы можете найти в нашей игре.
        Возможность кастомизировать свой профиль крайне важна,
        потому что все знают: как сильно влияют красивые скины на игровой процесс.
        Держите карман шире и приготовьтесь раскошелиться.</p>
    <hr style="opacity:0">
    
    <div class="icon"><img src="/p2.png" width="140" height="140"></div>
    <h2>Рейтинговая система</h2>
    <p> В нашей игре имеется проработанная рейтинговая система.
        Так вы можете отслеживать свой прогресс в познании мира шашек,
        а также соревноваться с другими игроками. 
        Играйте и становитесь лучшим, чтобы потом все одноклассники 
        в школе увидели ваше имя в таблице лидеров.
    </p>
    <hr style="opacity:0">
    <hr style="opacity:0">

    <div class="icon2"><img src="/p3.png" width="140" height="140"></div>
    <h2>Веселье - с первого хода</h2>
    <p>Начав игру, применяйте эмоции, выбирайте веселые автары, 
        кастомизируйте игровой профиль. Шашки - это игра с простыми 
        правилами, но при том с невероятной глубиной. Победите всех 
        своих соперников и не забудьте кинуть смайлик в самом конце.
    </p>
    <hr style="opacity:0">

</div>
