@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">КУДА</h1>
    <p>Авторизация - login/login.html</p>
    <p>Профиль - profile/myprofile.html
    <p>Статистика - statistic/statistic.html
    <p>Форум - forum/forum.html
    <p>Общий чат - chat/chat.html
    <p>Новости - news/news.html
    <p>Скачать игру - ???
    <p>Подробнее об игре - aboutgame.html</p>
</div>
