@using Site.Data.Models.UserIdentity;
@model IIdentity;

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Nick</title>
</head>
<body>
<a asp-controller="Authorization"
   asp-action="Login"
   asp-route-callerController="Home"
   asp-route-callerAction="Index">Войти</a>
<a asp-controller="User"
   asp-action="PersonalArea"
   asp-route-login="@Model?.Login"
   asp-route-password="@Model?.Password"
   asp-route-type="@Model?.Type">Личный кабинет</a>
<a asp-controller="User"
   asp-action="TopPlayers"
   asp-route-login="@Model?.Login"
   asp-route-password="@Model?.Password"
   asp-route-type="@Model?.Type">Лучшие игроки</a>
<a asp-controller="News"
   asp-action="Index"
   asp-route-login="@Model?.Login"
   asp-route-password="@Model?.Password"
   asp-route-type="@Model?.Type">Новости</a>
<a asp-controller="Chat"
   asp-action="CommonChat"
   asp-route-login="@Model?.Login"
   asp-route-password="@Model?.Password"
   asp-route-type="@Model?.Type">Общий чат</a>
<a asp-controller="Forum"
   asp-action="Index"
   asp-route-login="@Model?.Login"
   asp-route-password="@Model?.Password"
   asp-route-type="@Model?.Type">Форум</a>
</body>
</html>