@using Site.Data.Models;
@model CredentialModel

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Nick</title>
</head>
<body>
<a href="/Authorization/Login">Войти</a>
<a href="/User/PersonalArea/@Model.Query">Профиль</a>

</body>
</html>