@using Common.Entity;
@model Credential;

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Nick</title>
</head>
<body>
<a asp-controller="Authorization"
   asp-action="Login"
   asp-route-callerController="Home"
   asp-route-callerAction="Index">Войти</a>
<a asp-controller="User"
   asp-action="PersonalArea"
   asp-route-login="@Model?.Login"
   asp-route-password="@Model?.Password">Личный кабинет</a>
<a asp-controller="User"
   asp-action="TopPlayers"
   asp-route-login="@Model?.Login"
   asp-route-password="@Model?.Password">Лучшие игроки</a>
<a asp-controller="News"
   asp-action="Index"
   asp-route-login="@Model?.Login"
   asp-route-password="@Model?.Password">Новости</a>
</body>
</html>