@{
    Layout = "_HomeLayout";
}

<div>
    <center>
        <p>Современный взгяд на всем известную игру в шашки!</p>
        <p>Приветсвуем вас в Checkers Online - современной стратегической игре,</p>
        <p>с невероятно увлекательным и интересным функционалом!</p>
    </center>
</div>
