@{
    ViewData["Title"] = "Главная страница";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Checkers Online - Главная страница</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="22.970@2x.png"/>
    </head>
    <body>
        <h1><div style="text-align: center;">Checkers Online - Главная страница</div></h1>
        <hr>
        <div class="btn-group">
            <input type="button" value="Авторизация" onClick='location.href="login/login.html"'>
            <input type="button" value="Профиль" onClick='location.href="profile/myprofile.html"'>
            <input type="button" value="Статистика" onClick='location.href="statistic/statistic.html"'>
            <input type="button" value="Форум" onClick='location.href="forum/forum.html"'>
            <input type="button" value="Общий чат" onClick='location.href="chat/chat.html"'>
            <input type="button" value="Новости" onClick='location.href="news/news.html"'>
            <input type="button" value="Скачать игру">
            <input type="button" value="Подробнее об игре" onClick='location.href="aboutgame.html"'>
        </div>
    </body>
</html>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
