@using Site.Data.Models
@model IDictionary<long,PublicUserModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Статистика</title>
    <meta charset="UTF-8">
</head>
<body>
    @{
        foreach (var (pos, user) in Model)
        {
            <div>
                <h2>@pos</h2>
                @await Html.PartialAsync("PublicUserView", user)
            </div>
        }
    }
</body>
</html>