<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<form asp-controller="User"
      asp-action="Create">
    <label for="nick">Ник</label>
    <input type="text" name="nick" id="nick"/>
    <label for="login">Логин</label>
    <input type="text" name="login" id="login"/>
    <label for="password">Пароль</label>
    <input type="text" name="password" id="password"/>
    <label for="email">email</label>
    <input type="text" name="email" id="email"/>
    <input type="submit" name="Создать"/>
</form>
</body>
</html>