@using Site.Data.Models
@model PublicUserModel
    
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Checkers Online - Личный профиль</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="../22.970@2x.png"/>
    </head>
    <body>
        <h1><div style="text-align: center;">Checkers Online - Личный профиль</div></h1>
        <hr>
        <div class="btn-group">
            <input type="button" value="Редактировать профиль" onClick='location.href="redact.html"'>
            <input type="button" value="Друзья" onClick='location.href="friends.html"'>
            <input type="button" value="Найти игрока" onClick='location.href="findplayer.html"'>
            <input type="button" value="Выход" onClick='location.href="../login/login.html"'>
            <input type="button" value="Вернуться на главную" onClick='location.href="../index.html"'>
        <p>
            <div class="icon"><img style="padding: 5px;" src="@Model.PictureUrl" width="140" height="140" alt="user" ></div>
            <h3><p>Ник: @Model.Nick</p></h3>
            <h3><p>Рейтинг: @Model.SocialCredit</p></h3>
            <h3><p>Дата регистрации: @Model.LastActivity</p></h3>

            <style contenteditable>
            .icon {
                margin: 0px 10px 10px 0px;
                border: 3px solid black;
                float: left
            }
            </style>

        </p>
    </body>
</html>