@using Site.Data.Models;
@model Identified<Site.Data.Models.User.Self>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@await Html.PartialAsync("UserInfo",Model)
</body>
</html>