@using Common.Entity
@using Site.Data.Models;
@using Site.Data.Models.User;
@model Identified<Self>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@await Html.PartialAsync("UserInfo",Model)
<h2>Друзья</h2>
@{
    foreach (var friend in Model.Value.Friends)
    {
        @await Html.PartialAsync("UserInfo", new Identified<Friend>(new Credential
        {
            Login = Model.Login,
            Password = Model.Password
        }, friend))
    }
}
<form>

</form>
</body>
</html>