@using Site.Data.Models.User
@model Site.Data.Models.UserIdentity.IIdentified<UserInfo>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Профиль игрока</title>
    <meta charset="UTF-8">
</head>
<body>
@await Html.PartialAsync("UserInfo",Model)
</body>
</html>