@using Site.Data.Models.User;
@using Site.Data.Models.UserIdentity
@model Identified<IDictionary<long,UserInfo>>

@{
    Layout = "_HomeLayout";
}

<h2>Лучшие игроки</h2>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <button style="height:50px;width:200px">
                <a class="nav-link text-dark"
                   asp-controller="Home"
                   asp-action="Index"
                   asp-route-callerController="Home"
                   asp-route-callerAction="Index"

                   asp-route-login="@Model?.Login"
                   asp-route-type="@Model?.Type"
                   asp-route-userId="@Model?.UserId"
                   asp-route-password="@Model?.Password">Вернуться на главную</a>
            </button>
        </li>
    </ul>
</div>
<hr/>
@{
    foreach (var (pos,user) in Model.Value)
    {
        <h2>Позиция: @pos</h2>
        @await Html.PartialAsync("UserInfo", new Identified<UserInfo>(Model,user))
        <hr/>
    }
}