@using Site.Data.Models.User;
@using Site.Data.Models.UserIdentity
@model Identified<IDictionary<long,UserInfo>>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
@{
    foreach (var (pos,user) in Model.Value)
    {
        <h2>@pos</h2>
        @await Html.PartialAsync("UserInfo", new Identified<UserInfo>(Model,user))
    }
}
</body>
</html>