@using Site.Data.Models.User;
@using Site.Data.Models.UserIdentity
@model Identified<IDictionary<long,UserInfo>>

@{
    ViewData["Title"] = "Лучшие игроки";
    Layout = "_HomeLayout";
}

@{
    foreach (var (pos,user) in Model.Value)
    {
        <h2>Позиция: @pos</h2>
        @await Html.PartialAsync("UserInfo", new Identified<UserInfo>(Model,user))
        <hr/>
    }
}